---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import Projects from '../components/Projects';
import Designs from '../components/Designs';
import Skills from '../components/Skills';
import Certifications from '../components/Certifications';
import ContactForm from '../components/ContactForm';
import Footer from '../components/Footer';
---

<Layout>
	<Navbar client:load />
	<main className="w-full relative">
		<Hero client:load />
		<Projects client:visible />
		<Designs client:visible />
		<Skills client:visible />
		<Certifications client:visible />
		<ContactForm client:visible />
	</main>
	<Footer />
</Layout>
