---
import Layout from '../layouts/Layout.astro';
import CardNav from '../components/CardNav';
import '../components/CardNav.css';
import Hero from '../components/Hero';
import About from '../components/About';
import Projects from '../components/Projects';
import Certifications from '../components/Certifications';

const navItems = [
  {
    label: "About",
    bgColor: "#000000",
    textColor: "#ffffff",
    links: [
      { label: "About Me", href: "#about", ariaLabel: "About Me" },
      { label: "Skills", href: "#skills", ariaLabel: "Skills" },
      { label: "Experience", href: "#experience", ariaLabel: "Experience" }
    ]
  },
  {
    label: "Projects",
    bgColor: "#1A1A1A",
    textColor: "#ffffff",
    links: [
      { label: "Projects", href: "#projects", ariaLabel: "Projects" },
      { label: "Designs", href: "#designs", ariaLabel: "Designs" }
    ]
  },
  {
    label: "Certifications",
    bgColor: "#333333",
    textColor: "#ffffff",
    links: [
      { label: "Certifications", href: "#certifications", ariaLabel: "Certifications" }
    ]
  }
];
---

<Layout>
	<CardNav client:load logoText="Zeus Angelo" items={navItems} />
	<main class="w-full relative">
		<Hero />
		<About />
		<Projects />
		<Certifications />
	</main>
</Layout>
